.modal-150w{
    // width: 150%;
    // height: 600px;
}

.body-height{
    height: 420px !important;
}

.display-flex{
    display: flex;
    align-items: center;
}

.button-margin{
    margin: 10px;
}

.plus-button{
    height: 25px;
    width: 25px;
    text-align: center !important;
    margin: 0 auto;
    padding: 0 !important;
}

.remove-button{
    border-radius: 15px;
    background: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-right: 5px;
}

.topMargin{
    margin-top: 10px;
}

.search-button{
    display: block !important;
    margin-left: auto;
    margin-right: auto;
}

.mr-10{
    margin-right: 10px;
}

.route-modal-width{
    max-width: 1200px !important;
    width: 1100px !important;
}

.field-div{
    position: relative;
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.85rem;
}

.searchModal-div{
    margin-top: 10px;
    border-top: solid;
    padding-top: 10px;
}

.searchFieldsDiv{
    height: 290px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.search-count{
}

.auto-suggest-box-modal{
    height: 40px;
    margin-left: 10px;
}

.field-width{
    width: 175cpx;
}
