.detailView-textOnly{
    width: 350px;
    margin-left: 45px;
}

.row-expansion-button-div{
    display: block;
    float: left;
    .loadable-button{
        display: block;
        width: 120px;
        // width: 75px;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        height: 35px;
        margin-top: 10px;
    }

    .job-modal{
        display: block;
        width: 11px;
        border-radius: 5px;
        background: #007bff !important;
        .button-margin{
            margin:auto;
            width: 120px;
            font-size: 94%;
            height: 35px;
            padding-top: 4px;
        }
    }
}

.detail-div{
    // margin-left: 130px;
    margin-left: 100px;
}

.detail-div-customCode{
    margin-left: 130px;
}

.readOnly{
    border: 1px solid black;
    margin-left: 5px;
    padding-left: 5px;
    width: auto;
}

.dropdown{
    .dropdown-menu{
        max-height: 300px;
        overflow-y: scroll;
    }
}

.popover-inner{
    max-height: 400px;
    overflow-y: scroll;
}



