.searchInput{
    color: hsl(0,0%,20%);
    height: 1.85rem;
    width: 28rem;
    max-width: calc(100% - 8px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0,0%,80%);
    border-radius: 4px 0px 0px 4px;
    padding: 2px 8px;
    position: absolute;
    right: 29px;
    top: 0;

    &:focus{
        border-radius: 4px 0px 0px 4px !important;
        // border-color: green !important;
        outline: none !important;
        border:1px solid #4c93df;
        box-shadow: 0 0 10px #4c93df;
    }
}

.a{
    border: solid 1px;
    border-radius: 4px;
    &:hover {
        color:yellow;
    }
}

.closeButtonDiv{
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
}

.closeButton{
    height: 1.9rem !important;
    width: 1.9rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 25px !important;
    padding-bottom: 13px !important;
}

.closeSpan{
    position: absolute;
    top: 39%;
    left: 52%;
    transform: translate(-50%, -50%);
}

.criteriaDropDown{
    width: 15rem;
    margin-left: 1rem;
}